@font-face {
    font-family: bodoflo;
    src: url(bodoflo.ttf);
    font-family: bambank;
    src: url(bambank.tff);
}

#homepage{
    background-image: url("../img/eloisebackground.png");
    background-color: #FFD4DF;
    background-size: cover;
    position: fixed;
}

#eloise1{
    background-color: #FFD4DF;
}

#eloise2 {
    background-color: white;
}

main{
    font-family: bodoflo;
    font-size: 20pt;
    padding-top: 480px;
    padding-left: 560px;
}

#atplaza{
    text-decoration: none;
    color: black;
}

a{
    color: black;
    text-decoration: none;
}

#eloise2main{
    
    position: fixed;
   
}

#header1{
    padding-left: 833px;
    position: fixed;
}
#followme{
    position: fixed;
    bottom: 0; 
    right: 0;
}